static.48.134.105.178.clients.your-server.de {
    root * /srv/build

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy api:8000
    }

    handle {
        file_server
        try_files {path} {path}/ /index.html
    }

    encode gzip
}